body{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 80%;
}

.d-flex{
    display: flex;
}
.f-wrap{
    flex-wrap: wrap;
}
.img-responsive{
    width: 75%;
}
.jc-spacebetween{
    justify-content: space-between;
}
.ai-center1{
    align-items: center;
}
.spacersection{
    padding: 2% 0;
}
.spacercontent{
    margin-bottom: 20px;
}
.bigtitle{
    font-size: 1em;
}
//button
.bigbtn{
    padding: 20px 40px;
    background: black;
    color: bisque;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
}



//header
.header{
    .nav{
        &-brand{
            h1{
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
        &-menu{
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                li{
                    a{
                        display: block;
                        padding: 10px;
                        text-decoration: none;
                        color: black;
                        &hover{
                            font-weight: bold;
                        }
                    }
                }
            }

        }
        
    }
}
//hero
.hero{
    &-desc{
        width: 40%;
        p{
            font-size: 14px;
            line-height: 180%;
        }
    }
    &-image{
        width: 55%;
    }
}

//category
.category{
    &-item{
        height: 380px;
        overflow: hidden;
        position: relative;

        z-index: 1;
        .overlay{
            z-index: 5;
            opacity: 0;
            position: absolute;
            padding: 20px;
            height: 100%;
            width: 96%;
            background-color: rgba(137, 130, 165, 0.747);
            color: white;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
            .btn-outline{
                text-decoration: none;
                padding: 15px;
                background: none;
                color: white;
                display: inline-block;
                border: 2px solid #fff;
                font-size: 12px;
                letter-spacing: 2px;
                
                
            }
        }
        &:hover .overlay{
            opacity: 1;
        }
        img{
            filter: blur(0px);
            transition: cubic-bezier(0.215, 0.610, 0.355, 1) 3s;
        }
        &:hover{
            img{
                filter: blur(3px);
            }
        }
    }
}

.shopping{
    &-item{
        margin: 20px;
        a{
            letter-spacing: 2px;
            font-size: 13px;
            font-weight: bold;
        }
    }
}